###############
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.ear
.DS_Store
*~lock.*


!src/main/resources/META-INF/lib/*.jar


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

src/main/resources/META-INF/persistence.xml
target/classes/META-INF/persistence.xml

###############
## Eclipse ####
###############
.classpath
.project
.settings/*
build/*

.tern-project
functional-tests/*

###############
## Gradle  ####
###############
.gradle/*
gradle/*
!.gradle/generating_template/
gradlew
gradlew.bat


###############
## TEMPLATES ##
###############

target/*

doc-repo/*.juth.bak
/target/
